@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
  --text: rgb(248, 248, 248);
  --background: rgb(11, 11, 11);
  --primary: rgb(196, 255, 97);
  --secondary: rgb(36, 40, 40);
  --accent: rgb(234, 255, 199);
  --accent_op60: rgb(234 255 199 / .6);
}

html {
  box-sizing: border-box;
  font-family: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  background-color: black;
  color: var(--text);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.sticky-wrapper {
  height: 200vh;
  height: 200svh;
  scroll-snap-type: y proximity;
}

.sticky-consumer{
  height: 100svh;
  position: sticky;
  scroll-snap-align: center;
  top: 0;
}

header {
  position: relative;
  margin: 0 auto;
}

.back-layer {
  margin: 0 auto;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  z-index: -99;

}

#videoContainer {
  position: relative;
}

#videoContainer::after {
  display: block;
  position: absolute;
  inset: 0;
  content: "";
  mix-blend-mode: hard-light;
  background: rgb(196 255 97 / .3);
  margin-bottom: 1rem;
}

#videoContainer video {
  width: 100%;
  height: 100svh;
  object-fit: cover;
  mix-blend-mode: screen;
}

.front-layer {
  width: 100%;
  position: absolute;
  min-height: 100vh;
  z-index: -98;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  mix-blend-mode: multiply;
  background-color: rgb(0 0 0 / 1);
}

.icon-wrapper {
  display: flex;
  place-items: center;
  /* margin-bottom: -50px; */
  overflow: hidden;  
}

.clip-bg {
  fill: #fff;
  transform-origin: left bottom;
  transform: scale(100%);
  transition: transform 100ms ease-in-out;
}

.section-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* border: 2px dotted khaki; */
}

.col.content.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: -2rem;
}

.section-wrapper h1 {
  font-weight: 500;
  font-size: 6rem;
}

.section-wrapper p {
  font-size: 1.2rem;
  line-height: 1.65;
  max-width: 38ch;
  letter-spacing: 1.05;
}


/* util classes */
.full-h-section{
  height: 100vh;
  height: 100svh;
  /* border: 2px red dotted; */
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.col {
  /* background-color: black; */
  grid-column: span 1;
}

.col.content {
  padding: 2rem;
}

.prim-bg {
  background-color: var(--primary);
}

.default-bg {
  background-color: rgb(0 0 0);
}

.custom-grid{
  display: grid;
  min-height: 100%;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 20px;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas: 
  "header header header quotes"
  "form form form quotes"
  "form form form quotes"
  "form form form quotes"
  "info info info info";
  overflow: hidden;
  color: var(--text);
}

.custom-input {
  border: none;
  background-color: transparent;
  font-size: 2rem;

}

.custom-input::placeholder {
  color: rgb(200 200 200 /.1);
}

.custom-input:focus, .custom-input:focus-visible {
  box-shadow: 0 0 0 .25rem var(--accent_op60);
;
}

.header {
  grid-area: header;
  /* background-color: var(--secondary); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logo-wrapper {
  background-color: var(--secondary);
  width: max-content;
  height: 100%;
  padding: 2rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.sub-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  height: 100%;
  flex-grow: 1;
  padding: 2rem;
}
.sub-heading h3 {
  font-size: .8rem;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
}

.curr-block {
  background-color: var(--background);
  height: 100%;
}

.quotes {
  grid-area: quotes;
  display: grid;
  grid-template-rows: subgrid;
  /* border: 1px red dotted; */
}

.quote {
  grid-row: span 1;
  min-height: 1fr;
  min-width: 200px;
  background-color: var(--secondary); 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  font-size: .925rem;
  padding-inline: 1rem;
  cursor: pointer;
}

.trending-up{
  background-color: rgb( 30 100 50 /.8);
}

.trending-down {
  background-color: rgb( 100 30 50 /.8);

}


.top {
  display: flex;
  justify-content: flex-start;
  font-size: .825rem;
  letter-spacing: .1;
}

.mid {
  display: grid;
  place-items: center;
  font-size: 2.6rem;
  font-weight: 200;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.symbol {
  font-size: 1.125rem;
  font-weight: 400;
}

/* .trending-icon {

} */

.info {
  grid-area: info;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 1rem;  
  /* border: 2px dashed pink; */
  color: var(--secondary);
}

.novis {
  display: none;
}

#input, #output{
  font-size: 7.5rem;
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}