@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
  --text: rgb(248, 248, 248);
  --background: rgb(13 20 20);
  --primary: rgb(196, 255, 97);
  --secondary: rgb(36, 40, 40);
  --accent: rgb(234, 255, 199);
  --accent_op60: rgb(234 255 199 / .6);
}


::-moz-selection {
  color: var(--background);
  background: var(--accent);
}

::selection {
  color: var(--background);
  background: var(--accent);
} 

html {
  box-sizing: border-box;
  font-family: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  background-color: black;
  color: var(--text);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* util classes */
.full-h-section{
  height: 100vh;
  height: 100svh;
  /* border: 2px red dotted; */
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.frame {
  background-color: var(--primary);
}

.black-bg {
  background-color: rgb(0 0 0);
}

.custom-grid{
  display: grid;
  min-height: calc(100vh - 1.25rem);
  min-height: calc(100svh - 1rem);
  gap: 1rem;
  color: var(--text);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 150px 150px 50px;
  grid-template-areas: 
  "header header"
  "form form"
  "quotes quotes"
  "quotes quotes"
  "info info";
}

.custom-input {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.custom-input:focus, .custom-input:focus-visible {
  box-shadow: 0 0 0 .25rem var(--accent_op60);
}

#output {
  display: flex;
  align-items: center;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.logo-wrapper {
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

 #logo {
  width: 180px;
  mix-blend-mode: lighten;
}

.sub-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  height: 100%;
  flex-grow: 1;
  padding: 2rem;
}
.sub-heading h3 {
  font-size: .825rem;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
}

.curr-block {
  background-color: var(--background);
  height: 100%;
}

.quotes {
  grid-area: quotes;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  isolation: isolate;

}

.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  background-color: var(--secondary); 
  font-size: .925rem;
  padding: 1rem;
  cursor: pointer;    
  grid-row: span 1;
  transition: all 30ms ease-in-out;
  z-index: 2;
}

.quote span {
  color: var(--text);
}

.quote::after {
  filter: blur(15px);
  content: '';
  position: absolute;
  display: block;
  background-color: currentColor;
  inset: 0;
  z-index: -1;
  border-radius: 100%;
  transition: all 50ms cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: scale(.0);
}

.quote:hover::after {
  transform: scale(.9);
}

.trending-up{
  color: rgb( 30 100 50 /.4);
  background-color: rgb( 30 100 50 /.6);
}

.trending-down {
  color: rgb( 100 30 50 /.4);
  background-color: rgb( 100 30 50 /.6);

}

.top {
  display: flex;
  justify-content: flex-start;
  font-size: .825rem;
  letter-spacing: .1;
}

.mid {
  display: grid;
  place-items: center;
  font-size: 2.6rem;
  font-weight: 200;
  padding-top: .5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.symbol {
  font-size: 1.125rem;
  font-weight: 400;
}

.info {
  grid-area: info;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1rem;  
  color: rgb(220 220 220 /.6);
  letter-spacing: 1.08;
  font-size: .725rem;
}

.novis {
  display: none;
}

#input, #output{
  font-size: 2.5rem;
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 820px) {
  .custom-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 50px;
    grid-template-areas: 
    "header header header header"
    "form form form form"
    "form form form form"
    "quotes quotes quotes quotes"
    "info info info info";
    overflow: hidden;
  }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .logo-wrapper {
    width: max-content;
  }
  .custom-input {
    font-size: 2.75rem;
  }
  #input, #output{
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 1048px) {
  .custom-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr 20px;
    grid-template-columns: 1fr 1fr 1fr 220px;
    grid-template-areas: 
      "header header header quotes"
      "form form form quotes"
      "form form form quotes"
      "form form form quotes"
      "info info info info";
  }
  #logo {
    width: 228px;
  }
  #input, #output{
    font-size: 7.5rem;
  }
}